<h1>welcome to giphy</h1>
<form method="GET" action="/search">
    <label for="search">Search for GIPHY</label>
    <input placeholder="search..." type="search" name="search-term" id="search">
    <button type="submit">Search</button>
  
</form>